<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class='top-header'>          
           <div class="logo">
                <img src="/imagen/logo-mercado-liebre.svg" alt="aca va ML">
                </div>    
                <div class="form" action="#" method="GET">
                        <div class="input"></i>Buscar productos, marcas<i class="fa fa-search"></i></div>
                        <div class="submit"></div>
                 </div>
                
                <p class="text-header">
                    <i class="fas fa-hand-holding-usd"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </p>

        </div>

        <nav>
            <ul class="left-navbar">
                <li><a href="#"> Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register.html">Crea tu cuenta <i class="far fa-id-card"></i></a> </li>
                <li><a href="/login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a> </li>
                <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a> </li>
            </ul>
        </nav>   

        <div class="burger-menu" > 
            <i class="fas fa-bars"></i>
        </div>
        
    </header>

    <main class="register">
        <form action="/" method="POST" class="create-form">
            <div class="control-formulario">
                <label>Nombre y apellido</label>
                <input type="text" name="name"  class="control">
            </div> 
            
            <div class="control-formulario">
                <label>Nombre de usuario</label>
                <input type="text" name="user"  class="control">
            </div>

            <div class="control-formulario">
                <label>E-mail</label>
                <input type="email" name="email" class="control" >
            </div> 

            <br>
            <div class="control-formulario">
                <label for="birth_date">Fecha de nacimiento</label>
                <input type="date" name="birth_date" id="birth_date" class="control">
            </div>
            
            <div class="control-formulario">
                <label> Domicilio </label>
                <input type="text" name="addres" class="control">
            </div>   

            <h4>Perfil del usuario</h4>

            <span class="profile">

                <label for="buy">Comprador</label>
                <input type="radio" name="profile" value="buy" id="buy">
            </span>

            <span class="profile">
                <label for="sell">Vendedor</label>
                <input type="radio" name="profile" value="sell" id="sell" >
            </span>   

            <h4>Intereses</h4>

            <div>
                <div class="profile">
                    <label for="a">Electro</label>
                    <input type="checkbox" name="interests" value="a" id="a">
                </div>
                <div class="profile">
                    <label for="b">Moda</label>
                    <input type="checkbox" name="interests" value="b" id="b">
                </div>
                <div class="profile">
                    <label for="c">Hogar</label>
                    <input type="checkbox" name="interests" value="c" id="c">
                </div>
                <div class="profile">
                    <label for="d">Juguetería</label>
                    <input type="checkbox" name="interests" value="d" id="d">
                </div>
                <div class="profile">
                    <label for="e">Vida sana</label>
                    <input type="checkbox" name="interests" value="e" id="e">
                </div>
            </div>
            
            <h4>Elegí tu foto de usuario</h4>

            <input type="file" name="avatar">
            <br>
            <br>

            <div>
                <label>Elegí tu contraseña</label>
                <input type="password" name="pass" class="control">
            </div>

            <div>
                <label>Confirmá tu contraseña</label>
                <input type="password" name="pass_confirm" class="control" >
            </div>

           
            
            <span>
            <input type="submit" value="Enviar" class="button-submit">
            </span>        
            
            <span>
            <input type="reset" value="Borrar" class="button-submit">
            </span>
            
        </form>
    </main>
    <footer>
        <nav>
            <div class="footer-desktop">                
                <div class="Icon-footer"><i class="fas fa-credit-card"></i>
            
                        <ul type="none"> 
                            <li><h3 class="h3-footer">Pagá con tarjeta o en efectivo</h3></li>
                            <li>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                            puntos de pago. ¡Y siempre es seguro!</li>
                        </ul>
                </div>   
                <div class="Icon-footer"><i  class="fas fa-gift"></i>              
                  
                        <ul type="none">
                            <li><h3>Envío gratis desde $ 2.500</h3></li>
                    
                            <li>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                            productos. Es un beneficio de Mercado Puntos.</li>
                        </ul>
                </div> 
                <div class="Icon-footer"><i class="fas fa-user-shield"></i>       
                
                        <ul type="none">
                            <li><h3> Seguridad, de principio a fin </h3> </li>
                            <li>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                            porque estás siempre protegid@.</li>
                        </ul>      
                </div>
            </div>
        </nav>   
        <nav>
        <div>         
                        <footer class="copyright"> Copyright © 1999-2020 MercadoLiebre S.R.L.</footer>
            </div>
        </nav>
    </footer>

    
</body>
</html>