*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}
header{
    background-color: #EAC926;
}
main{
    width: 90%;
    margin: 0 auto;
    }

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
 }
 header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}


header div.logo{
    width: 50%;
}
header div.logo{
    padding: 2%;
}
header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}
header nav{
    font-size: 12px;
    margin-left: 20px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}
header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}


div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}
div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

/*MAIN*/
.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 40%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
   margin-top: 20px;
    
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 20%;}

main section article{
    
    background-color: #fff;    
    margin: 10px 10px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    position: relative;
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    display:flex;
    flex-wrap: wrap;
}
/**/
article.description{
    display: none;
}

article:hover.description{
    display: block;
}
article:hover.description{
    display: none;
}

article:hover .fa-truck{
    rotate: -100grad;
}
.fa-truck{
    transition: all 1.5s;
}
/**/

@media (min-width: 361px){
    main section article .description{
        display: block;
    }

main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 20%;
    }
}
@media (min-width: 769px){
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* Footer */

.Icon-footer {
    text-align: center;
    color: #1259c3;
    font-size: 2em;
    margin: 15px;
}
.Icon-footer:hover{
    color: #EAC926;
}

.h3-footer {
    padding: 5px;
    text-align: center;
}

footer nav li h3{
    color:black
}

footer nav ul li{
    color:#666;;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

.copyright{
    padding-top: 50px;
    color: #666;
    list-style: none;
    text-align: center;
}


