*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}
header{
    background-color: #EAC926;
}
main{
    width: 90%;
    margin: 0 auto;
    }

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
 }

 header div.logo,
 header .form{
     width: 50%;
 }

header div.logo{
    padding: 10px;
}
header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}
.text-header{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header nav ul li a{
    text-decoration: none;
    color: #000;
}
header nav{
    font-size: 12px;
    margin-left: 20px;
    /*display:none*/

}

header ul li{
    list-style: none;
    /* margin: 5px; */
}


header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}
header .form .submit{
    /*background-color: #FFF;*/
    /*border: 1px solid #000;*/
    color: #666;
    width: 10%;
}


div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}
/* ---MAIN------- */


.price{
    font-size: 18px;
}
.discount.description{
    font-size: 16px;
    font-weight: normal;
}
.description{
    margin:auto;
    display: none;

}
main section h3{
    margin: 20px 0px;
}
h3,.description{
    color: #666;
}

section.banner img{
    width: 100%;
}
main section article{
    
    background-color: #fff;    
    margin: 10px 10px;
}

main section article i, .discount{
    color: #39b54a;
}
article div.main-article{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
} 
main section article i {
    display: block ;
    font-size: 16px ;
    padding: 5px ;
    width: 30px ;
    height: 30px ;
    border: 1px solid #39b54a ;
    background-color: #FFF ;
    border-radius: 50% ;
    position: absolute ;
    right: 20px ;
    top:-15px ;
    }
.main-article p{
        margin: 0 10px;
}
main section article img {
        width: 100%;
}
 .fa-truck{
    transition: all 1.5s;
}
article:hover .fa-truck{
    rotate: -100grad;
}
.products article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
article .description{
    display: none;
}
article:hover .description{
    display: block;
}
article .fa-solid{
    transition: rotate 500ms;
}
.create-form{
    padding: 20px 15px;

}
.control-formulario{
    margin-bottom: 15px;
    
}
.control-formulario label{
    font-style: italic;
    display: block;

}
.button-submit{
    margin-top: 15px;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: #39b54a;
    font-size: 20px;
    padding: 8px;
    margin-right: 22px;

}
.button-submit:hover {
    background-color: #0022AA;   
 }
.control{
    width: 100%;
    padding: 8px 8px;
    border: none;
    border-radius: 5px;
}

.profile{
    margin: 9px 14px;
}

.create-form h4{
    margin: 20px 0;
    text-decoration: underline;
}


/* Footer */

.Icon-footer {
    text-align: center;
    color: #1259c3;
    font-size: 2em;
    margin: 15px;
}
.Icon-footer:hover{
    color: #EAC926;
}

.h3-footer {
    padding: 5px;
    text-align: center;
}

footer nav li h3{
    color:black
}

footer nav ul li{
    color:#666;;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

.copyright{
    padding-top: 50px;
    color: #666;
    list-style: none;
    text-align: center;
}

/*MEDIA QUERIES TABLET -361*/

@media (min-width: 361px){

    .description{ 
        display: block
    }

    .articles{
       
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; 
        align-items: flex-start;
        
    }

    .articles article{
       /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
       width: 45%;
    }
    .price,
    .discount{
        width: 50%;
    }

    header nav{
        display: block;
    }

    div.burger-menu{
        display: none;
    }

    }


 /* MEDIA QUERIES TABLET +769  */

 
 @media (min-width:769px){
    header div.logo{
        width: 250px;
    }
    .top-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .text-header{
        max-width: 350px;
        text-align: right;
    }
    
    header nav{
        display: flex;
        justify-content: space-between;
    }
    
    header nav ul {
        display: flex;
    }
    header nav ul li {
        margin: 0 5px;
    }
 
    main section div.products article{
        width: 22%;
     }

    
    
} 

 /* MEDIA QUERIES DESKTOP*/

 @media(min-width:1024px){
    
    .top-header, header nav{
        max-width:1200px ;
        margin: auto;
    }
    
    .text-header{
        max-width: none;
        width: auto;  
    }
    header nav ul li {
        margin: 0 10px;
    }

    header div.logo{
        width: 250px;
    }
    header nav{
     margin-top: 30px;
     padding-bottom: 5px;
    } 

    .footer-desktop{
        display: flex;
        justify-content: space-between;
    }
    .copyright{
        text-align: left;
        margin: 10px 50px;
        font-size: 10px;
    }

 } 


































/*
@media (min-width: 361px){
    main section article .description{
        display: block;
    }

main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 20%;
    }
}
@media (min-width: 769px){
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}*/